<!-- navbar -->
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://mapleshaw.github.io/">MapleShaw</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://mapleshaw.github.io/">Home</a></li>
            <li><a href="http://mapleshaw.github.io/about.html">About</a></li>
            <!-- <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom:0;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://mapleshaw.github.io/img/1.png" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>广告位招租</h1>
          <p>长期占位图</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Go to the website</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://mapleshaw.github.io/img/2.png" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>骚图占位</h1>
          <p>等有空再搞些骚图上来！</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">不用点了，没东西的</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://mapleshaw.github.io/img/3.png" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>代码占位图</h1>
          <p>这个可以好好利用了，写写<code>console.log("Hello World!");</code>之类的</p>
          <p><a class="btn btn-lg btn-primary" href="https://github.com/MapleShaw" target="_blank" role="button">Go to 源代码</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="http://mapleshaw.github.io/#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="http://mapleshaw.github.io/#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->